<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipment">
    <span *ngIf="itemBeingEdited !== item; else elseBlock">
      <span (click)="editEquipment(item)" class="editable-text">
        {{ item }}</span
      ><button (click)="removeEquipment(item)">remove</button>
    </span>

    <ng-template #elseBlock>
      <input
        #updatedName
        (keyup.enter)="save(updatedName.value, item)"
        value="{{ item }}"
      />
      <button (click)="save(updatedName.value, item)">save</button>
    </ng-template>
  </li>
</ul>
<input #newName type="text" />
<button (click)="addEquipment(newName.value)">Add</button>
